
@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'montserrat',sans-serif 
}
.view-courses{
    background: radial-gradient(hsla(227, 100%, 50%, 0),hsla(209, 100%, 50%, 1));
    width: 100;
    height: min-content;
    padding: 60px 60px 60px 60px;
   
}
.course-heading{
    /* border: red solid 2px; */
    margin-bottom: 60px;
}
.course-heading>h6{
    font-size: 14px;
    font-weight: 700;
    color: hsla(95, 32%, 61%, 1);
}
.course-heading>h2{
    font-size: 40px;
    font-weight: 700;
    color: hsla(0, 0%, 100%, 1);
    padding: 12px 0px;
}
.course-heading>p{
    font-size: 14px;
    font-weight: 400;
    color: hsla(0, 0%, 96%, 1);
    letter-spacing: 0.2px;
}
.course-cards{
    /* border: red solid 2px; */
    width: 100;
    height: min-content;
    display: flex;
    gap: 30px;
    overflow-x:auto ;
}

/* card1 css here */

.card1{
    background-color: white;
    /* border: red solid 2px; */
    height: min-content;
    width: 238px;
    border-radius: 8px;
}
.card1>.img-sec{
    border-radius: 8px 8px 0px 0px;
    height: 300px;
    width: 100;
    padding: 20px;
    background-image: url(Images/4ee1cde079f04555acc010c67f60927a.jpeg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card1>.img-sec>.tag-sec{
    background-color: red;
    font-size: 14px;
    font-weight: 700;
    height: 24px;
    width: 51px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    color: white;
}
.card1>.img-sec>.product-actions-sec{
    display: flex;
    gap: 20px;
    width: 100;
    /* border: 2px solid red; */
    justify-content: center;
}
.card1>.img-sec>.product-actions-sec>.like{
    background:linear-gradient(hsla(0, 100%, 50%, 1),hsla(240, 100%, 50%, 1));
    border-radius: 50px;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card1>.img-sec>.product-actions-sec>.cart{
    background:linear-gradient(rgb(46, 34, 34),hsla(240, 100%, 50%, 1));
    border-radius: 50px;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card1>.img-sec>.product-actions-sec>.view{
    background:linear-gradient(hsla(60, 100%, 50%, 1),hsla(120, 100%, 25%, 1));
    border-radius: 50px;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card1>.card-details{
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.card1>.card-details>.category-rating{
    width: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card1>.card-details>.category-rating>.category>p{
    color: hsla(95, 32%, 61%, 1);
    font-weight: 700;
    font-size: 14px;
}
.card1>.card-details>.category-rating>.rating{
    background: hsla(214, 33%, 26%, 1);
    border-radius: 25px;
    padding: 5px 10px;
    color: white;
    font-size: 12px;
    font-weight: 700;
    display: flex;
    gap: 5px;
}
.card1>.card-details>.title{
    font-size: 16px;
    font-weight: 700;
}
.card1>.card-details>.description{
    font-size: 14px;
    font-weight: 400;
}
.card1>.card-details>.sales{
    display: flex;
    gap: 10px;
}
.card1>.card-details>.sales>p{
    font-size: 14px;
    font-weight: 700;
    color: hsla(0, 0%, 45%, 1);
}
.card1>.card-details>.price{
    display: flex;
    gap: 5px;
    padding: 5px 0px;
}
.card1>.card-details>.price>.original-price{
    font-size: 16px;
    font-weight: 700;
    color: hsla(0, 0%, 74%, 1);
}
.card1>.card-details>.price>.discounted-price{
    font-size: 16px;
    font-weight: 700;
    color: hsla(25, 100%, 72%, 1);
}
.card1>.card-details>.CTA-btn>button{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    border: solid 1px hsla(95, 32%, 61%, 1);
    color: hsla(95, 32%, 61%, 1);
    font-size: 14px;
    font-weight: 700;
    background: white;
    border-radius: 25px;
}

/* card2 css starts here */

.card2{
    background-color: white;
    /* border: red solid 2px; */
    height: min-content;
    width: 238px;
    border-radius: 8px;
}
.card2>.img-sec{
    border-radius: 8px 8px 0px 0px;
    height: 300px;
    width: 100;
    padding: 20px;
    background-image: url(Images/e1284b46e0af4167a231582ba78de9ae.jpeg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card2>.img-sec>.tag-sec{
    background-color: red;
    font-size: 14px;
    font-weight: 700;
    height: 24px;
    width: 51px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    color: white;
}
.card2>.img-sec>.product-actions-sec{
    display: flex;
    gap: 20px;
    width: 100;
    /* border: 2px solid red; */
    justify-content: center;
}
.card2>.img-sec>.product-actions-sec>.like{
    background:linear-gradient(hsla(0, 100%, 50%, 1),hsla(240, 100%, 50%, 1));
    border-radius: 50px;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card2>.img-sec>.product-actions-sec>.cart{
    background:linear-gradient(rgb(46, 34, 34),hsla(240, 100%, 50%, 1));
    border-radius: 50px;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card2>.img-sec>.product-actions-sec>.view{
    background:linear-gradient(hsla(60, 100%, 50%, 1),hsla(120, 100%, 25%, 1));
    border-radius: 50px;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card2>.card-details{
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.card2>.card-details>.category-rating{
    width: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card2>.card-details>.category-rating>.category>p{
    color: hsla(95, 32%, 61%, 1);
    font-weight: 700;
    font-size: 14px;
}
.card2>.card-details>.category-rating>.rating{
    background: hsla(214, 33%, 26%, 1);
    border-radius: 25px;
    padding: 5px 10px;
    color: white;
    font-size: 12px;
    font-weight: 700;
    display: flex;
    gap: 5px;
}
.card2>.card-details>.title{
    font-size: 16px;
    font-weight: 700;
}
.card2>.card-details>.description{
    font-size: 14px;
    font-weight: 400;
}
.card2>.card-details>.sales{
    display: flex;
    gap: 10px;
}
.card2>.card-details>.sales>p{
    font-size: 14px;
    font-weight: 700;
    color: hsla(0, 0%, 45%, 1);
}
.card2>.card-details>.price{
    display: flex;
    gap: 5px;
    padding: 5px 0px;
}
.card2>.card-details>.price>.original-price{
    font-size: 16px;
    font-weight: 700;
    color: hsla(0, 0%, 74%, 1);
}
.card2>.card-details>.price>.discounted-price{
    font-size: 16px;
    font-weight: 700;
    color: hsla(25, 100%, 72%, 1);
}
.card2>.card-details>.CTA-btn>button{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    border: solid 1px hsla(95, 32%, 61%, 1);
    color: hsla(95, 32%, 61%, 1);
    font-size: 14px;
    font-weight: 700;
    background: white;
    border-radius: 25px;
}

/* card4 css starts here */

.card4{
    background-color: white;
    /* border: red solid 2px; */
    height: min-content;
    width: 238px;
    border-radius: 8px;
}
.card4>.img-sec{
    border-radius: 8px 8px 0px 0px;
    height: 300px;
    width: 100;
    padding: 20px;
    background-image: url(Images/04ba3acb0bc1d369aebfdd732e26545a.jpeg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card4>.img-sec>.tag-sec{
    background-color: red;
    font-size: 14px;
    font-weight: 700;
    height: 24px;
    width: 51px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    color: white;
}
.card4>.img-sec>.product-actions-sec{
    display: flex;
    gap: 20px;
    width: 100;
    /* border: 2px solid red; */
    justify-content: center;
}
.card4>.img-sec>.product-actions-sec>.like{
    background:linear-gradient(hsla(0, 100%, 50%, 1),hsla(240, 100%, 50%, 1));
    border-radius: 50px;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card4>.img-sec>.product-actions-sec>.cart{
    background:linear-gradient(rgb(46, 34, 34),hsla(240, 100%, 50%, 1));
    border-radius: 50px;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card4>.img-sec>.product-actions-sec>.view{
    background:linear-gradient(hsla(60, 100%, 50%, 1),hsla(120, 100%, 25%, 1));
    border-radius: 50px;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card4>.card-details{
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.card4>.card-details>.category-rating{
    width: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card4>.card-details>.category-rating>.category>p{
    color: hsla(95, 32%, 61%, 1);
    font-weight: 700;
    font-size: 14px;
}
.card4>.card-details>.category-rating>.rating{
    background: hsla(214, 33%, 26%, 1);
    border-radius: 25px;
    padding: 5px 10px;
    color: white;
    font-size: 12px;
    font-weight: 700;
    display: flex;
    gap: 5px;
}
.card4>.card-details>.title{
    font-size: 16px;
    font-weight: 700;
}
.card4>.card-details>.description{
    font-size: 14px;
    font-weight: 400;
}
.card4>.card-details>.sales{
    display: flex;
    gap: 10px;
}
.card4>.card-details>.sales>p{
    font-size: 14px;
    font-weight: 700;
    color: hsla(0, 0%, 45%, 1);
}
.card4>.card-details>.price{
    display: flex;
    gap: 5px;
    padding: 5px 0px;
}
.card4>.card-details>.price>.original-price{
    font-size: 16px;
    font-weight: 700;
    color: hsla(0, 0%, 74%, 1);
}
.card4>.card-details>.price>.discounted-price{
    font-size: 16px;
    font-weight: 700;
    color: hsla(25, 100%, 72%, 1);
}
.card4>.card-details>.CTA-btn>button{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    border: solid 1px hsla(95, 32%, 61%, 1);
    color: hsla(95, 32%, 61%, 1);
    font-size: 14px;
    font-weight: 700;
    background: white;
    border-radius: 25px;
}

/* card3 css starts here */

.card3{
    background-color: white;
    /* border: red solid 2px; */
    height: min-content;
    width: 238px;
    border-radius: 8px;
}
.card3>.img-sec{
    border-radius: 8px 8px 0px 0px;
    height: 300px;
    width: 100;
    padding: 20px;
    background-image: url(Images/3c73dd52172aae4f8fd131799805ac11.jpeg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card3>.img-sec>.tag-sec{
    background-color: red;
    font-size: 14px;
    font-weight: 700;
    height: 24px;
    width: 51px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    color: white;
}
.card3>.img-sec>.product-actions-sec{
    display: flex;
    gap: 20px;
    width: 100;
    /* border: 2px solid red; */
    justify-content: center;
}
.card3>.img-sec>.product-actions-sec>.like{
    background:linear-gradient(hsla(0, 100%, 50%, 1),hsla(240, 100%, 50%, 1));
    border-radius: 50px;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card3>.img-sec>.product-actions-sec>.cart{
    background:linear-gradient(rgb(46, 34, 34),hsla(240, 100%, 50%, 1));
    border-radius: 50px;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card3>.img-sec>.product-actions-sec>.view{
    background:linear-gradient(hsla(60, 100%, 50%, 1),hsla(120, 100%, 25%, 1));
    border-radius: 50px;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card3>.card-details{
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.card3>.card-details>.category-rating{
    width: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card3>.card-details>.category-rating>.category>p{
    color: hsla(95, 32%, 61%, 1);
    font-weight: 700;
    font-size: 14px;
}
.card3>.card-details>.category-rating>.rating{
    background: hsla(214, 33%, 26%, 1);
    border-radius: 25px;
    padding: 5px 10px;
    color: white;
    font-size: 12px;
    font-weight: 700;
    display: flex;
    gap: 5px;
}
.card3>.card-details>.title{
    font-size: 16px;
    font-weight: 700;
}
.card3>.card-details>.description{
    font-size: 14px;
    font-weight: 400;
}
.card3>.card-details>.sales{
    display: flex;
    gap: 10px;
}
.card3>.card-details>.sales>p{
    font-size: 14px;
    font-weight: 700;
    color: hsla(0, 0%, 45%, 1);
}
.card3>.card-details>.price{
    display: flex;
    gap: 5px;
    padding: 5px 0px;
}
.card3>.card-details>.price>.original-price{
    font-size: 16px;
    font-weight: 700;
    color: hsla(0, 0%, 74%, 1);
}
.card3>.card-details>.price>.discounted-price{
    font-size: 16px;
    font-weight: 700;
    color: hsla(25, 100%, 72%, 1);
}
.card3>.card-details>.CTA-btn>button{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    border: solid 1px hsla(95, 32%, 61%, 1);
    color: hsla(95, 32%, 61%, 1);
    font-size: 14px;
    font-weight: 700;
    background: white;
    border-radius: 25px;
}

/* responsive css */

@media(max-width:480px){
    .course-heading>h2{
        font-size: 22px;
        font-weight: 700;
        color: hsla(0, 0%, 100%, 1);
        padding: 8px 0px;
    }
}